[submodule "dm-ui"]
	path = dm-ui
	url = https://github.com/berlingoqc/dm-ui
[submodule "dm-backend"]
	path = dm-backend
	url = https://github.com/berlingoqc/dm-backend
[submodule "youtube-dl-rpc"]
	path = youtube-dl-rpc
	url = https://github.com/berlingoqc/youtube-dl-rpc
